# Database Configuration
DATABASE_URL=

# Server Configuration
PORT=
NODE_ENV=

# Session Secret
SESSION_SECRET=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

GROQ_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_NAMESPACE=

# CHATBOT_SERVICE_URL=https://your-chatbot-api.render.com